[Unit]
Description= demo fastapi application
After=network.target

[Service]
User=ayoube
Group=ayoube
WorkingDirectory=/home/ayoube/app/src/
Environment='PATH=/home/ayoube/app/venv/bin'
ExecStart=/home/ayoube/app/srcgunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000


[Install]
WantedBy=multi-user.target